<template>
  <v-layout class="home">
    <v-flex xs12>
      <v-card>
        <v-layout row wrap>
          <v-flex xs4>
            <user-list/>
          </v-flex>
          <v-flex xs8>
            <todo-list/>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex';
import UserList from '../components/UserList.vue';
import TodoList from '../components/TodoList.vue';

export default {
  components: {
    TodoList,
    UserList,
  },
  computed: mapState([
    'userElemId',
  ]),
};
</script>
