<template>
  <v-layout class="post">
    <v-flex xs12>
      <post-form/>
      <!-- <v-text-field
        v-model="title"
        box
        label="Title"
        placeholder="Add a title"
      ></v-text-field>
      <v-textarea
        v-model="content"
        box
        label="Content"
        value=""
      ></v-textarea>
      <v-btn class="post-btn" @click="onSubmit">Post</v-btn> -->

      <v-card class="post-card" v-for="post in posts" :key="post.id">
        <v-card-title primary-title>
          <template>
            <post-card-content :post="post"/>
          </template>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex';
import PostCardContent from '../components/PostCardContent.vue';
import PostForm from '../components/PostForm.vue';

export default {
  components: {
    PostCardContent,
    PostForm,
  },
  mounted() {
    this.$store.dispatch('loadPosts');
  },
  methods: {
    onSubmit() {
      const post = {
        title: this.title,
        content: this.content,
        userId: 1,
      };
      this.$store.dispatch('sendPost', post);
    },
  },
  data() {
    return {
      title: '',
      content: '',
    };
  },
  computed: mapState([
    'posts',
  ]),
}
</script>

<style scoped>
.post-card {
  margin-bottom: 1em;
}
</style>
