<template>
  <div>
    <v-text-field
      v-model="title"
      box
      label="Title"
      placeholder="Add a title"
    ></v-text-field>
    <v-textarea
      v-model="content"
      box
      label="Content"
      value=""
    ></v-textarea>
    <v-btn class="post-btn" @click="onSubmit">Post</v-btn>
  </div>
</template>

<script>
export default {
  name: 'PostForm',
  props: ['post'],
  methods: {
    onSubmit() {
      if (!this.post) {
        const post = {
          title: this.title,
          content: this.content,
          userId: 1,
        };

        this.$store.dispatch('sendPost', post);
      } else {
        const post = {
          id: this.post.id,
          title: this.title,
          content: this.content,
          userId: this.post.userId,
        };

        this.$store.dispatch('updatePost', post);
        this.$emit('submit');
      }
    },
  },
  data() {
    return {
      title: this.post ? this.post.title : '',
      content: this.post ? this.post.body : '',
    };
  },
};
</script>

<style scoped>
.post-btn {
  margin-bottom: 1em;
}
</style>
