<template>
	<v-container>
		<v-layout v-if="!isEdit" row wrap>
			<v-flex xs11>
				<h3 class="headline mb-0">{{ post.title }}</h3>
				<p> {{ post.body }} </p>
			</v-flex>
			<v-flex xs1>
				<v-btn fab dark small color="primary" @click="onEdit(post)">
					<v-icon dark>edit</v-icon>
				</v-btn>
			</v-flex>
		</v-layout>
		<v-layout v-else row wrap>
			<v-flex xs12>
				<post-form :post="post" v-on:submit="onSubmit"/>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
import PostForm from './PostForm.vue';

export default {
	name: 'PostCardContent',
	props: ['post'],
	components: {
		PostForm,
	},
	methods: {
		onEdit(post) {
			this.isEdit = true;
		},
		onSubmit() {
			this.isEdit = false;
		}
	},
	data() {
		return {
			isEdit: false,
		};
	},
};
</script>
