<template>
  <div class="todo-list">
    <h1>Todo list</h1>
    <v-list class="todo-list">
      <template v-for="todo in userTodos">
        <v-list-tile
          avatar
          :key="todo.id"
          class="todo-list-elem"
        >
          <v-list-tile-avatar>
            <v-icon
              medium
              :class="['white--text', todo.completed ? 'green lighten-1' : 'orange lighten-2']"
            >
              {{ todo.completed ? 'check_circle_outline' : 'schedule' }}
            </v-icon>
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title v-html="todo.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </v-list>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'TodoList',
  mounted() {
    this.$store.dispatch('loadUserTodo');
  },
  computed: mapState([
    'userElemId',
    'userTodos',
  ]),
};
</script>

<style scoped>
h1 {
  margin-left: 15px;
}

.todo-list {
  border-left: solid 1px rgba(0, 0, 0, 0.12);
}

.todo-list-elem {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

.todo-list-elem:last-child {
  border-bottom: none;
}
</style>
