<template>
  <v-list>
    <template v-for="user in users">
      <v-list-tile
        avatar
        :key="user.id"
        @click="onClick(user.id)"
      >
        <v-list-tile-avatar>
          <img :src="`https://picsum.photos/200/300?image=${user.id + 50}`">
        </v-list-tile-avatar>

        <v-list-tile-content>
          <v-list-tile-title v-html="user.name"></v-list-tile-title>
          <v-list-tile-sub-title v-html="`@${user.username}`"></v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </template>
  </v-list>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'UserList',
  mounted() {
    this.$store.dispatch('loadUsers');
  },
  methods: {
    onClick(id) {
      this.$store.dispatch('setUserElemID', id);
      this.$store.dispatch('loadUserTodo');
    },
  },
  computed: mapState([
    'users',
  ]),
};
</script>
